{%extends 'main.html'%}
{%block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
   
  <form method="post" class="form my-form">
      {% csrf_token %}
      {{form.as_p}}
      <div class="foot" style="display: flex; justify-content: space-between; height: 50px; padding-bottom: 10px;">
        
        <button type="submit" style="font-size: 16px; line-height: 24px; color: white; background-color: black; border-radius: 5px; padding: 10px 20px;">Submit</button>
        <h3><a href="{% url 'tasks' %}" style="text-decoration: none; color: rgb(15, 13, 13); font-family: poppins;">Go back</a></h3>
    </div>
  </form>
</body>
</html>
{%endblock%}